<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746203621303-c3co8u9d5fk8vse8i3sfj41ehn5u045j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746203621303-c3co8u9d5fk8vse8i3sfj41ehn5u045j</string>
	<key>API_KEY</key>
	<string>AIzaSyCIn50ZfwAE-ioI8wJcHiYfwnfQmaAGcio</string>
	<key>GCM_SENDER_ID</key>
	<string>746203621303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NateW.Pp</string>
	<key>PROJECT_ID</key>
	<string>top-5-dogs-1d135</string>
	<key>STORAGE_BUCKET</key>
	<string>top-5-dogs-1d135.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746203621303:ios:c09a2d576ad47184426a32</string>
</dict>
</plist>